{% extends 'aplicacion/base.html' %}
{% load staticfiles %}
{% block title %}
ENCOFRADOS 
{% endblock title %}

{% block contenido1 %}

<!-- Titlebar
================================================== -->
<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

	<img src="images/titlebar_bg_02.jpg" alt="" />
	<div class="parallax-overlay"></div>

	<div class="parallax-content">
		<h2>INFORMACION<span></span></h2>

		<nav id="breadcrumbs">
			<ul>
			</ul>
		</nav>
	</div>
</section>


<div class="container">

<!-- Tabs
================================================= -->
	<div class="eight columns">
		<h3 class="headline">Imformación</h3><span class="line margin-bottom-3-"></span><div class="clearfix"></div>

		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
			<li class="active"><a href="#tab1"></a></li>
			
		</ul>

		<!-- Tabs Content -->
		<div class="tabs-container">
			<div class="tab-content" id="tab1">Lorem ipsum pharetra lorem felis. Aliquam egestas consectetur elementum class aptentea taciti sociosqu ad litora torquent perea conubia nostra lorem consectetur adipiscing elit. Donec vestibulum justo a diam ultricies pellentesque.</div>
			
		</div>

	<br>
	</div>


<!-- Accordion
================================================== -->
	<div class="eight columns">
		<h3 class="headline">Accordions</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>

			<!-- Accordion -->
			<div class="accordion">

				<!-- Section 1 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-user"></i> Mision</h3>
				<div>
					<p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate aliquam egestas litora torquent conubia.</p>
				</div>

				<!-- Section 2 -->
				<h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span><i class="fa fa-user"></i> Vision </h3>
				<div>
					<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. Nullam laoreet, velit ut taciti sociosqu condimentum feugiat.</p>
				</div>

			</div>
			<!-- Accordion / End -->
	</div>

<div class="clearfix"></div>
<br>


<!-- Content Boxes
================================================== -->
	<!--<div class="sixteen columns">
		<h3 class="headline">Content Boxes</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>
	</div>

	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-1">
			<h3>Effect #1</h3>

				<div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
					<div class="box-icon"><i class="fa fa-bolt"></i></div>
				</div>

			<p>Integer ultrices scelerisque nulla fringilla. Praesent leo massa, ullamcorper venenatis tempor.</p>
		</div>
		</a>
	</div>
	
	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-2">
			<h3>Effect #2</h3>
				<div class="box-icon-wrap box-icon-effect-2 box-icon-effect-2a">
					<div class="box-icon"><i class="fa fa-globe"></i></div>
				</div>
			<p>Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci gravida lobortis magna.</p>
		</div>
		</a>
	</div>

	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-3">
			<h3>Effect #3</h3>
				<div class="box-icon-wrap box-icon-effect-3 box-icon-effect-3a">
					<div class="box-icon"><i class="fa fa-cogs"></i></div>
				</div>
			<p>Vestibulum non nibh porttitor, eleifend purus eu, pulvinar orci gravida lobortis magna.</p>
		</div>
		</a>
	</div>
	
	<div class="four columns">
		<a href="#">
		<div class="content-box color-effect-4">
			<h3>Effect #4</h3>
				<div class="box-icon-wrap box-icon-effect-4 box-icon-effect-4a">
					<div class="box-icon"><i class="fa fa-paw"></i></div>
				</div>
			<p>Integer ultrices scelerisque nulla fringilla. Praesent leo massa, ullamcorper venenatis tempor.</p>
		</div>
		</a>
	</div>


<div class="clearfix"></div>
<br> -->
{% endblock %}
